{{ header }}{{ column_left }}
<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
	<div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
		<div class="d-flex align-items-center flex-wrap mr-1">
			<div class="d-flex align-items-baseline flex-wrap mr-5">
				<h5 class="text-dark font-weight-bold my-1 mr-5">{{ heading_title }}</h5>
				<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
					{% for breadcrumb in breadcrumbs %}
						<li class="breadcrumb-item">
							<a href="{{ breadcrumb.href }}" class="text-muted">{{ breadcrumb.text }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="d-flex align-items-center">
			<a href="{{ refresh }}" data-toggle="tooltip" title="{{ button_refresh }}" class="btn btn-icon btn-sm btn-info">
				<span class="fas fa-sync"></span>
			</a>
			<a href="{{ clear }}" data-toggle="tooltip" title="{{ button_clear }}" class="btn btn-icon btn-sm btn-warning ml-2">
				<span class="fa fa-eraser"></span>
			</a>
			<button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-icon btn-sm btn-danger ml-2" onclick="confirm('{{ text_confirm }}') ? $('#form-modification').submit() : false;">
				<span class="fas fa-trash"></span>
			</button>
		</div>
	</div>
</div>

{% if error_warning %}
	<div class="alert alert-danger alert-dismissible">
		<span class="fa fa-exclamation-circle"></span>
		{{ error_warning }}
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
{% endif %}
{% if success %}
	<div class="alert alert-success alert-dismissible">
		<span class="fa fa-check-circle"></span>
		{{ success }}
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
{% endif %}
<div class="alert alert-info">
	<span class="fa fa-info-circle"></span>
	{{ text_refresh }}
</div>

<div class="row">
	<div class="col-md-12">
		<div class="card card-custom">
			<div class="card-header card-header-tabs-line">
				<h3 class="card-title">
					{{ text_list }}
				</h3>
				<div class="card-toolbar">
					<ul class="nav nav-tabs nav-bold nav-tabs-line">
						<li class="nav-item active">
							<a class="nav-link active" href="#tab-general" data-toggle="tab">{{ tab_general }}</a>
						</li>
						<li class="nav-item">
							<a href="#tab-log" class="nav-link" data-toggle="tab">{{ tab_log}}</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="card-body">
				<div class="tab-content">
					<div class="tab-pane fade active show" id="tab-general">
						<form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-modification">
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"/></td>
											<td class="text-left">
												{% if sort == 'name' %}
													<a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
												{% else %}
													<a href="{{ sort_name }}">{{ column_name }}</a>
												{% endif %}
											</td>
											<td class="text-left">
												{% if sort == 'author' %}
													<a href="{{ sort_author }}" class="{{ order|lower }}">{{ column_author }}</a>
												{% else %}
													<a href="{{ sort_author }}">{{ column_author }}</a>
												{% endif %}
											</td>
											<td class="text-left">
												{% if sort == 'version' %}
													<a href="{{ sort_version }}" class="{{ order|lower }}">{{ column_version }}</a>
												{% else %}
													<a href="{{ sort_version }}">{{ column_version }}</a>
												{% endif %}
											</td>
											<td class="text-left">
												{% if sort == 'status' %}
													<a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
												{% else %}
													<a href="{{ sort_status }}">{{ column_status }}</a>
												{% endif %}
											</td>
											<td class="text-left">
												{% if sort == 'date_added' %}
													<a href="{{ sort_date_added }}" class="{{ order|lower }}">{{ column_date_added }}</a>
												{% else %}
													<a href="{{ sort_date_added }}">{{ column_date_added }}</a>
												{% endif %}
											</td>
											<td class="text-right">{{ column_action }}</td>
										</tr>
									</thead>
									<tbody>
										{% if modifications %}
											{% for modification in modifications %}
												<tr>
													<td class="text-center">
														{% if modification.modification_id in selected %}
															<input type="checkbox" name="selected[]" value="{{ modification.modification_id }}" checked="checked"/>
														{% else %}
															<input type="checkbox" name="selected[]" value="{{ modification.modification_id }}"/>
														{% endif %}
													</td>
													<td class="text-left">{{ modification.name }}</td>
													<td class="text-left">{{ modification.author }}</td>
													<td class="text-left">{{ modification.version }}</td>
													<td class="text-left">{{ modification.status }}</td>
													<td class="text-left">{{ modification.date_added }}</td>
													<td class="text-right">
														{% if modification.link %}
															<a href="{{ modification.link }}" data-toggle="tooltip" title="{{ button_link }}" class="btn btn-info" target="_blank">
																<i class="fa fa-link"></i>
															</a>
														{% else %}
															<button type="button" class="btn btn-info" disabled="disabled">
																<i class="fa fa-link"></i>
															</button>
														{% endif %}
														{% if not modification.enabled %}
															<a href="{{ modification.enable }}" data-toggle="tooltip" title="{{ button_enable }}" class="btn btn-success">
																<i class="fa fa-plus-circle"></i>
															</a>
														{% else %}
															<a href="{{ modification.disable }}" data-toggle="tooltip" title="{{ button_disable }}" class="btn btn-danger">
																<i class="fa fa-minus-circle"></i>
															</a>
														{% endif %}
													</td>
												</tr>
											{% endfor %}
										{% else %}
											<tr>
												<td class="text-center" colspan="7">{{ text_no_results }}</td>
											</tr>
										{% endif %}
									</tbody>
								</table>
							</div>
						</form>
						<div class="row">
							<div class="col-sm-6 text-left">{{ pagination }}</div>
							<div class="col-sm-6 text-right">{{ results }}</div>
						</div>
					</div>
					<div class="tab-pane fade" id="tab-log">
						<p>
							<textarea wrap="off" rows="15" class="form-control">{{ log }}</textarea>
						</p>
						<div class="text-center">
							<a href="{{ clear_log }}" class="btn btn-danger">
								<i class="fa fa-eraser"></i>
								{{ button_clear }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{ footer }}
