{{ header }}{{ column_left }}
<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
	<div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
		<div class="d-flex align-items-center flex-wrap mr-1">
			<div class="d-flex align-items-baseline flex-wrap mr-5">
				<h5 class="text-dark font-weight-bold my-1 mr-5">{{ heading_title }}</h5>
				<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
					{% for breadcrumb in breadcrumbs %}
						<li class="breadcrumb-item">
							<a href="{{ breadcrumb.href }}" class="text-muted">{{ breadcrumb.text }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>

{% if error_warning %}
	<div class="alert alert-danger alert-dismissible">
		<span class="fa fa-exclamation-circle"></span>
		{{ error_warning }}
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
{% endif %}
{% if success %}
	<div class="alert alert-success alert-dismissible">
		<span class="fa fa-check-circle"></span>
		{{ success }}
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
{% endif %}

<div class="row">
	<div class="col-md-12">
		<div class="card card-custom">
			<div class="card-header card-header-tabs-line">
				<div class="card-title">
					<span class="card-icon">
						<i class="fas fa-chart-bar"></i>
					</span>
					<h3 class="card-label">
						{{ text_type }}</h3>
				</div>
			</div>
			<div class="card-body">
				<div class="well">
					<div class="input-group">
						<select name="report" onchange="location = this.value;" class="form-control">
							{% for report in reports %}
								{% if code == report.code %}
									<option value="{{ report.href }}" selected="selected">{{ report.text }}</option>
								{% else %}
									<option value="{{ report.href }}">{{ report.text }}</option>
								{% endif %}
							{% endfor %}
						</select>
						<span class="input-group-addon mt-4 ml-2">
							<span class="fa fa-filter"></span>
							{{ text_filter }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">{{ report }}</div>
</div>
{{ footer }}
